.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.user {
  flex-direction: row;

  .assistant {
    padding: 24px 30px;
    background: #fff;
  }
}

.assistant {
  flex-direction: row-reverse;
}

.bubble {
}
