.container {
    display: flex;
    flex-direction: row;
}

.user {
   flex-direction: column;

  .bubble {
    padding: 24px 30px;
    background: #fff;
  }

}

.bot {
   flex-direction: column-reverse;
}

.bubble {}
